<div class="container mt-5">
    <form action="" class="form-group">
        <input type="text" (input)="buscarClientes($event)" class="form-control" placeholder="Busque un cliente..." >
    </form>
    <button routerLink="/agregar-clientes" class="btn btn-primary">Agregar Cliente Nuevo</button>
    <div class="row mt-4">
        <div class="col-sm-3" *ngFor="let cliente of clientes">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{cliente.direccion}}</h6>
                  <p class="card-text">{{cliente.clienteId}}</p>
                  <a href="#" class="card-link">Agregar</a>
                  <a href="#" class="card-link">Eliminar</a>
                </div>
              </div>
        </div>

        
    </div>
</div>