<div class="container mt-5">
    <form action="">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input placeholder="Agregue un nombre" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input placeholder="Agegue un apellido" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Correo</label>
                    <input placeholder="Agregue un correo" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Cédula</label>
                    <input placeholder="Agregue una cédula" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Fecha de nacimiento</label>
                    <input placeholder="Fecha de nacimiento" type="date" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input placeholder="Agregue un telefono" type="tel" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input placeholder="Agregue su imagen" type="file" class="form-control-file">
                </div>
            </div>

            <div class="col-sm-12">
                <progressbar [value]="22" type="danger" [striped]="true">22%</progressbar>
            </div>
            <br><br>
            <button class="btn btn-primary">Agregar</button>
        </div>
    </form>
</div>