<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Fecha Final</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscripcion of inscripciones; index as i">
            <th scope="row">{{inscripcion.clienteObtenido.nombre}}</th>
            <td>{{inscripcion.fecha | date}}</td>
            <td>{{inscripcion.fechaFinal | date}}</td>
            <td><img [src]="inscripcion.clienteObtenido.imgUrl" width="50px" height="50" alt=""></td>
          </tr>
        </tbody>
    </table>
</div>