<div class="container mt-3">
    <h4>Listado de Clientes</h4>
    <form action="">
        <div class="form-group">
            
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Buscar Cliente...">
          </div>
    </form>
    <div class="row">
        <div class="col-md-3 col-sm-4" *ngFor="let cliente of clientes">
            <div class="card">
                <img class="card-img-top imgCliente" [src]="cliente.imgUrl" alt="Card image cap">
                <div class="card-body">
                    <p>{{cliente.id}}</p>
                  <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h5>
                  
                  <a href="#" class="card-link">Editar</a>
                    <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
              </div>
        </div>
        
    </div>
</div>